/* ./styles/globals.css */
@tailwind base;


@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "honey";
  src: url("/fonts/HelloHoneyPersonalUse-2OEo8.otf");
}
@font-face {
  font-family: "lagag";
  src: url("/fonts/LaGaglianePersonalUse-w1xV2.ttf");
}

p{
  font-weight: 300;
}
h1,h2{
font-family:"lagag"
}