/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "honey";
  src: url("/fonts/HelloHoneyPersonalUse-2OEo8.otf");
}
@font-face {
  font-family: "lagag";
  src: url("/fonts/LaGaglianePersonalUse-w1xV2.ttf");
}

p{
  font-weight: 300;
}
h1,h2,h3{
font-family:"lagag"
}





/*
code,
.code,
pre {
  
  background: #32323570;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding:15px;
  padding-left: 20px;
  
  border-radius: 5px;
  
}
code{
  background-color: transparent;
}
pre:before {
    display: block;
    width: calc(100%);
    margin-left: -3px;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    content: attr(data-lang);
    
  }
  pre.o {
    color: orange;
  }
  pre.w {
    color: white;
  }

@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -26400px 0px;
  }
}
.shapeshifter {
  animation-duration: 2000ms;
  animation-timing-function: steps(60);
  width: 440px;
  height: 440px;
  background-repeat: no-repeat;
 
}
.shapeshifter.play {
  animation-name: play60;
  animation-iteration-count: infinite;
}

  */